<a href="https://colab.research.google.com/github/TechRoC/Task/blob/master/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 '''
 The required pages are split into another pdf to reduced pdf size. The GOPENH/GOPENS category columns extracted 
 with the help of tabula and exported into csv. Csv and pdf are attached with the code.
 '''

In [28]:
import pandas as pd

In [29]:
data = pd.read_csv('/content/tabula-college_cutoffs (1) (1).csv')

In [30]:
pd.set_option('display.max_rows',None)

In [31]:
indexName = data[data['GOPENH'] == 'GOPENH'].index
data.drop(indexName,inplace=True)
indexName1 = data[data['GOPENH'] == 'GOPENS'].index
data.drop(indexName1,inplace=True)

In [ ]:
data

In [33]:
# Importing re package for using regular expressions 
import re 
import numpy as np

# Function to clean the \r(..........) leading value
def Clean_names(extra_val):  
	if re.search('\r\(.*', extra_val): 
		pos = re.search('\r\(.*', extra_val).start() 
		return extra_val[:pos] 
	else: 
		return extra_val 
		
# Updated the  column
data['GOPENH'] = data['GOPENH'].apply(Clean_names)

In [34]:
# converting into integer
def int_con(value):
  try:
    return int(value)
  except Exception as e:
    pass
  return np.NaN
data['GOPENH'] = data['GOPENH'].apply(int_con)

In [35]:
#droping NaN values
data = data['GOPENH'].dropna()

In [41]:
data = pd.DataFrame(data, columns=['GOPENH'])
data.to_csv('Rank.csv')

In [53]:
#Reading college code
data2 = pd.read_csv('/content/college_code.csv')
rank = pd.read_csv('/content/Rank.csv')

In [54]:
data2['GOPENH'] = rank['GOPENH']

In [52]:
# feww values I missed to extract
missed_data = {'college_code' : [5181,6006,6144,6319,5322,6149,6160,6182,6187,6320,6609,6649,6759,6759,6794,6834],
               'GOPENH': [52670,1255,54946,84485,64101,54154,48849,85995,61686,45917,86104,87156,68434,40406,82810,48049]}

In [55]:
missed_data = pd.DataFrame(missed_data)

In [56]:
final_table = pd.concat([data2,missed_data],ignore_index=True)

In [57]:
final_table.sort_values('GOPENH',ascending=False,inplace=True)

In [62]:
print("Top 10 colleges of Savitribai Phule University")
print("colleg Code and Rank of GOPENH/GOPENS category of civil Engineer Branch")
final_table[:10]

Top 10 colleges of Savitribai Phule University
colleg Code and Rank of GOPENH/GOPENS category of civil Engineer Branch

    college_code   GOPENH
95          6649  87156.0
56          6319  87078.0
45          6187  86733.0
71          6755  86681.0
18          5331  86676.0
66          6634  86552.0
69          6649  86534.0
30          6138  86522.0
75          6769  86401.0
28          6122  86350.0